body{
    text-align: center;
    background-color: #e7e0e0;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-div{
    width: 300px;
    height: 300px;
    margin: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;
    padding: 20px;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    background-color: #fff;

}
#popup{
    position: fixed;
    height: 500px;
    width: 500px;
    background-color: #fff;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 30%;
    border-radius: 7px;
    box-sizing: 0.4px 0.4px 0.4px #ccc;
    border: 1px solid #ccc;
    display: none;
    transition: ease-in;
    transition-delay: 1s;
    transition-duration: 1s;
}
#close-popup {
    color: black;
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
    cursor: pointer;
  }
  
  #popup-img {
    height: 400px;
    width: 400px;
    aspect-ratio: 1/1;
  }
